<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
	<head>
		<title>Hello WebGL</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<!-- for LivereloadX -->
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=2"></' + 'script>')</script>
		<!-- メインのjavascript -->
		<script type="text/javascript" charset="UTF-8" src="arrayfunc.js"></script>
		<script type="text/javascript" charset="UTF-8" src="main.js"></script>
	</body>
</html>
